/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: auto;
  height: 100%;
  width: 80%;
  background-color: black;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 500px) {
  html,
  body {
    width: 100%;
  }
}
html .topnav,
body .topnav {
  color: #b6b6b6;
  height: 4%;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  html .topnav,
  body .topnav {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
  }
}
html .hero,
body .hero {
  background-image: url("../images/_DSC0007.jpg");
  height: 90%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
}
@media (max-width: 500px) {
  html .hero,
  body .hero {
    height: 40%;
    margin-top: 15%;
  }
}
html .about-me,
body .about-me {
  height: 49%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  border-bottom: 1px solid gray;
}
html .about-me .about-me-info,
body .about-me .about-me-info {
  color: white;
  padding: 6%;
  text-align: center;
  width: 49%;
  font-size: 2rem;
}
@media (max-width: 500px) {
  html .about-me .about-me-info,
  body .about-me .about-me-info {
    width: 100%;
  }
}
html .about-me .about-me-info h2,
body .about-me .about-me-info h2 {
  font-size: 3rem;
  text-transform: uppercase;
}
html .about-me .about-me-img,
body .about-me .about-me-img {
  width: 49%;
}
@media (max-width: 500px) {
  html .about-me .about-me-img,
  body .about-me .about-me-img {
    display: none;
  }
}
html .about-me .about-me-img .abim,
body .about-me .about-me-img .abim {
  max-width: 100%;
  max-height: 100%;
}
html .skills,
body .skills {
  height: 49%;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid gray;
}
html .skills .skills-info,
body .skills .skills-info {
  color: white;
  padding: 6%;
  text-align: center;
  width: 49%;
  font-size: 2rem;
}
@media (max-width: 500px) {
  html .skills .skills-info,
  body .skills .skills-info {
    width: 100%;
  }
}
html .skills .skills-info h2,
body .skills .skills-info h2 {
  font-size: 3rem;
  text-transform: uppercase;
}
html .skills .skills-img,
body .skills .skills-img {
  width: 49%;
}
@media (max-width: 500px) {
  html .skills .skills-img,
  body .skills .skills-img {
    display: none;
  }
}
html .skills .skills-img .sim,
body .skills .skills-img .sim {
  max-width: 100%;
  max-height: 100%;
}
html .education,
body .education {
  height: 49%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  border-bottom: 1px solid gray;
}
html .education .education-info,
body .education .education-info {
  color: white;
  padding: 6%;
  text-align: center;
  width: 49%;
  font-size: 2rem;
}
@media (max-width: 500px) {
  html .education .education-info,
  body .education .education-info {
    width: 100%;
    margin-top: 20%;
  }
}
html .education .education-info h2,
body .education .education-info h2 {
  font-size: 3rem;
  text-transform: uppercase;
}
html .education .education-img,
body .education .education-img {
  width: 49%;
}
@media (max-width: 500px) {
  html .education .education-img,
  body .education .education-img {
    display: none;
  }
}
html .education .education-img .eim,
body .education .education-img .eim {
  max-width: 100%;
  max-height: 100%;
}
html .work,
body .work {
  height: 49%;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid gray;
}
html .work .work-info,
body .work .work-info {
  color: white;
  padding: 6%;
  text-align: center;
  width: 49%;
  font-size: 2rem;
}
@media (max-width: 500px) {
  html .work .work-info,
  body .work .work-info {
    width: 100%;
    margin-top: %;
  }
}
html .work .work-info h2,
body .work .work-info h2 {
  font-size: 3rem;
  text-transform: uppercase;
}
html .work .work-img,
body .work .work-img {
  width: 49%;
}
@media (max-width: 500px) {
  html .work .work-img,
  body .work .work-img {
    display: none;
  }
}
html .work .work-img .wim,
body .work .work-img .wim {
  max-width: 100%;
  max-height: 100%;
}
html .contact,
body .contact {
  height: 49%;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid gray;
}
html .contact .contact-info,
body .contact .contact-info {
  color: white;
  padding: 6%;
  text-align: center;
  width: 49%;
  font-size: 2rem;
}
@media (max-width: 500px) {
  html .contact .contact-info,
  body .contact .contact-info {
    width: 100%;
    margin-top: 20%;
  }
}
html .contact .contact-info h2,
body .contact .contact-info h2 {
  font-size: 3rem;
  text-transform: uppercase;
}
html .contact .contact-photo,
body .contact .contact-photo {
  width: 49%;
}
@media (max-width: 500px) {
  html .contact .contact-photo,
  body .contact .contact-photo {
    display: none;
  }
}
html .contact .contact-photo .cim,
body .contact .contact-photo .cim {
  max-width: 100%;
  max-height: 100%;
}
